.addUser{
  margin: 10px;
  margin-left: 0;
}

.searchInput{
  background: #000;
}

.searchButton{
  margin-left: 50px;
}

.top_search{
  padding: 30px;
  background: #f7f7f7;
  font-size: 14px;
}
.result{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
}
