
.video{
  height: 700px;
  background-image: url(https://i.ytimg.com/vi_webp/kMbDIAdvHT8/maxresdefault.webp);
  background-size: 100% 100%;
}


.footerButton{
  position: fixed;
  height: 100px;
  width: 100%;
  line-height: 100px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  background-color: #00B0B9;
  color: #171936;
  bottom: 0;
}
a:hover{
  text-decoration: none !important;
  color: #fff !important;
}

